<html>
    <head>
        <title> Welcome to our 601 project! </title>
    </head>
    <body>
        <h1> Coded Aperture Testing </h1>
        <form action="/index" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.CA.label }}<br>
                {{ form.CA(size=32) }}
            </p>
            <p>
                {{ form.author.label }}<br>
                {{ form.author(size=32) }} 
            </p>
            <p>
                {{ form.assoc.label }}<br>
                {{ form.assoc(size=32) }}    
            </p>
            <p>{{ form.mask() }}</p>
            <p>{{ form.submit() }}</p>
        </form>
    </body>
</html>
